
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    position: relative;
    background:url(images/ay3.JPG);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}

.sec2{
    position: relative;
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 0;
}

.sec3{
    position: relative;
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    padding: 0 0 0;
}

.sec4{
    position: relative;
    margin: auto;
}

.card{
    margin: 0 35px;
}

header{
    position: relative;
    z-index: 10;
    width: 100%;
}
.navbar{
    padding: 10px 0 ;

}


.navbar-brand{
    font-weight:800;
    text-transform: uppercase;
    font-size: 2em;
    color:#262626; 
    

}

.nav-item{
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 0 0 1px;
   
    
}
#p{
    padding:0 0 0 500px ;
}




.navbar-light .navbar-nav .nav-item .nav-link:hover,

.navbar-light .navbar-nav .nav-item-active .nav-link{
    background:#262626;
    color: #fff;
    
  
}

.navbar-light .navbar-nav .nav-item .nav-link{
   
    color: #262626;
    padding: 5px ;
    
}

.banner h2{
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 1000;
    color:whitesmoke;


}
.banner p{
   
    color:whitesmoke;


} 
.btnD1{
    display :inline-block;
    margin:1em 0 0 ;
    padding: 10px 20px;
    background:#ff2670;
    color:#fff;
    text-transform: uppercase;
    border: none;
    font-weight: 800;
}



.btnD1:hover{
    color:#fff;
    text-decoration: none;

}

.navbar-light .navbar-toggler{
    border: none;
    color: #fff;
    border:2px solid #f7f7f7;
    border-radius: 0;
   outline: none;
}

.navbar-collapse{
    background: #fff;
}
@media (max-width: 768px){
    .banner{
      
        padding: 200px 0;
    }
    .banner h2{
        font: size 1.8em; ;
    }
    #p{
        padding:0 0 0 0;
    }
}



#card1{
    margin: -320px 0 0 100px;
    height: 300px;
    background-color: rgb(236, 236, 241);
    
    
}

#card2{
    margin: -320px 0 0 30px;
    height: 300px;

}

#card3{
    margin: -320px 0 0 -30px;
    height: 300px;
    background-color: rgb(236, 236, 241);
}
@media (max-width: 768px) {
    #card1{
        margin: 0px 0 0 0px;
        height: 300px;
        background-color: rgb(236, 236, 241);
        
        
    }
    
    #card2{
        margin: 0px 0 0 0px;
        height: 300px;
    
    }
    
    #card3{
        margin: 0px 0 0 0px;
        height: 300px;
        background-color: rgb(236, 236, 241);
    }
    
}

 .container1{
     max-width:1170px ;
     margin: auto;
 }
 .row{
     display: flex;
     flex-wrap: wrap;
 }

 ul{
     list-style: none;


 }

  
.footer{
    background-color:#363636;
    padding: 70px 0;
}

.footer-col{
     width: 30%;
     padding:0 30px;

}



.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
 .footer-col h4::before{
     content: '';
     position: absolute;
     left: 0;
     bottom: -10px;
     background-color: #e91e63;
     height: 2px;
     box-sizing: border-box;
     width: 50px;

 }

 .footer-col ul li:not(:last-child){
     margin-bottom: 10px;
 }
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}
 .footer-col ul li a:hover{
     color: #ffffff;
     padding-left: 8px;
 }

 .footer-col .social-links a{
     display: inline-block;
     height: 40px;
     width: 40px;
     background-color: rgba(255, 255, 255,0.2);
     margin: 0 10px 10px 0;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     color: #fff;
     transition: all 0.5s ease;

 }

 .footer-col .social-links a:hover{
     color: #24262b;
background-color: #fff;
 }
 @media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-top: 40px;
        margin-left: 20px;
       
   
   }
 }

 .logo{
    height: 80px;
    width:180px;
    padding: 0 10px;
}

.img-fluid{
    padding: 0 0 0 200px;
    
}

.foto2{
    padding: 0 0 0 120px;
}

.carousel-inner{
    position: relative;
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    padding: 0 0 0;
   
}
.carousel-item{
    position:relative;
    
    
}

.sec5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 550px;
 
    
}

.container3{
 
    position: relative;
    margin: auto;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container3 .card{
    position: relative;
    max-width: 300px;
    height: 400px;
    background: black;
    margin: 30px 15px ;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5s);
    transition: 0.3s ease-in-out;

}

.container3 .card:hover{
    height: 400px;
}

.container3 #card:hover{
    height: 400px;
}

.container3 .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 6px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5s);
}

.container3 .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}

.container3 .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container3 .card:hover .content{
    visibility:visible;
    opacity: 1;
    margin-top: 90px;
    transition-delay: 0.3s;
}


.buyutec
{
    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -ms-transition: all .2s ease-in;
}
.buyutec:hover
{
    z-index:4;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);  
    -moz-transform: scale(1.5);
    transform: scale(1.5);
}

#slider {
    margin: 0 auto;
    width: 900px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
    
 }
 #slides {
     margin: 20px -50px;
    padding: 10px ;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
    height: 510px;
    width: 1060px;
    
 }
 #overflow {
     max-width: 100%;
    width: 1040px;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 900ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 500px;
   
    
   
 }
 #slides .slide {
    width: 25%;
    padding: -100px;
    float:left;
    display: flex;
    justify-content: center;
    align-items: bottom;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: url('images/deneme1.png');
    
    background-position: center;
 }
 #slides .slide_2 {
    background: url('images/deneme2.png');
    background-position: center;
    
 }
 #slides .slide_3 {
    background: url('images/deneme3.png');
    background-position: center;
 }
 #slides .slide_4 {
    background:url('images/deneme6.png') ;
    background-position: center;
    
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: -90px -160px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: -90px 0 0 -100px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }

#ytü{
    width: 600px;
    height: 600px;
    position: center;
    text-align: center;
    margin: 20px 0 20px 100px;
}

#model{
    margin: 0 0 0 200px;
}

#p1{
    padding: 200px 100px 0 0;
}

#p2{
    padding: 250px 0 0 200px;
}

#ytü{
    position: relative;
    margin: auto ;
   
}
#afis{
    position: relative;
    margin: auto ;
}

#ytü1{
    margin: 0 0 0 180px;
}


@media(max-width:767px){
    #ytü{
        
        position: relative;
        margin: right;

        margin: 0 0px 0 -300px;


    }

    #ytüü{
        position: relative;
        margin: auto;
    }
    #afis{
        position: relative;
        margin: auto ;
    }

   
    
    #ytü1{
        position: relative;
        margin: right ;
    
        margin: 0 0px 0 -70px;
    }
    .sec5{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        height: 1600px;
        

    }

    .container3{
 
        position: relative;
        margin: auto;
        width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
    }
    
    .container3 .card{
        position: relative;
        max-width: 300px;
        height: 400px;
        background: black;
        margin: 55px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5s);
        transition: 0.3s ease-in-out;
    
    }
    #model{
        margin: 30px 0 0 80px;
    }
    
    #p1{
        padding: 60px 80px 0 100px;
    }
    
    #p2{
        padding: 100px 10px 0 100px;
    }
}



